<!DOCTYPE html>
<html data-ng-app="demoApp">
<head lang="en">
    <meta charset="UTF-8">
    <title>AngularJS Test 3</title>
</head>
<body>

    <div class="container" data-ng-controller="SimpleController">

        Enter a search term: <input type="text" data-ng-model="filter.searchData">{{filter.searchData}}
    <h2>List of Names from a Module</h2>

        <ul>
            <li data-ng-repeat="individual in individuals | filter:filter.searchData | orderBy:'lastName'">{{individual.lastName}}, {{individual.firstName}}</li>


        </ul>
    </div>

    <script type=" text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.1/angular.min.js"></script>

    <script src="angular3_module.js"></script>
</body>
</html>